@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0; margin: 0; box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  color: #444;
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav h1 {
  margin: 0;
}
nav a {
  color: white;
  text-decoration: none;
  background-color: #36cca2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
}

/* Form */
form {
  max-width: 500px
}
input, textarea {
  display: block;
  margin: 16px;
  padding: 6px 10px;
  width: 100%;
  border: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
}
textarea {
  resize: none;
  min-height: 200px;
}

/* post list */
.post {
  padding: 15px;
  background-color: white;
  margin: 20px 0;
  border-radius: 10px;
}

.post h2 {
  margin: 0;
}
.post p {
  margin-top: 0;
}
.post a {
  color: #36cca2;
  text-decoration: none;
}